/* ContactUs.css */

.formik-form {
    width: 100%;
}

.bg-container {
    background-image: url("./../../images/sample_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 20px;
}

.contact-us-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

/* Create a flex container for input fields and error messages */
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Set full width for input fields and textarea */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style error messages */
.error {
    color: #ff0000;
    font-size: 14px;
}

/* Add spacing between fields */
.form-group > div {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
