* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    width: fit-content;
}

.MuiInputBase-input {
    background: unset;
}

.MuiTextField-root {
    background: unset;
}
